body {
  margin: 0;
  box-sizing: border-box;
  background-color: beige;
}

/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Navigation Bar */
nav {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 20px;
  background-color: rgba(255, 206, 196, 0.8);
}
.nav-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(210, 255, 240, 0.8);
  width: 100%;
  gap: 20px;
  padding: 20px;
}

.logo {
  min-width: 200px;
  max-width: 400px;
  padding: 0px;
}

.social-media-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.social-media-icons i {
  color: #000000;
  font-size: 30px;
  border-radius: 5px;
  line-height: 1;
}
.social-media-icons:hover {
  background-color: #15aea2;
}
button {
  background-color: #f6fffe;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  margin: 10px;
  border-radius: 100px;
}

button:hover {
  background-color: #15aea2;
  color: #ffffff;
}

/* Attraction Grid Layout */
.attraction-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
  gap: 60px;
  padding: 20px;
  max-width: 80vw;
  margin: 0 auto;
  background-color: rgba(252, 255, 255, 0.8);
  border-radius: 20px;
}

/* Main body */

section {
  background-image: url('https://lp-cms-production.imgix.net/2024-08/GettyRF954412750.jpg?fit=crop&w=2048&auto=format&q=75');
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  opacity: 1;
}

/* Attraction Cards */
.attraction-card {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
}

.attraction-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

.attraction-card h3 {
  margin-top: 10px;
  font-size: 18px;
}

.attraction-card-wrapper {
  position: relative;
}

.attraction-card-hover {
  display: flex;
  box-sizing: border-box;
  position: absolute;
  background-color: rgba(0, 72, 83, 0.9);
  width: 100%;
  height: 100%;
  top: 0;
  align-items: center;
  padding: 20px;
  opacity: 0;
  color: white;
  border-radius: 8px;
}

.attraction-card:hover .attraction-card-hover {
  opacity: 1;
}
